@charset "UTF-8";
/* Reset global */
*
{
	margin: 0; padding: 0; 
} 
/* Cuerpo del documento */
body
{ 
	font: .74em Verdana, Arial, Tahoma, sans-serif; 
	line-height: 1.6em; 
	background: #BDBDBF; 
	color: #333333; 
}
/* Estilos por grupos */
a, a:hover, h1 a, h1 a:hover 
{
	background: inherit;
}
h1, h1 a, #search a, #watch a. #menu li a.current 
{
	color: #ffffff;
}
#contenido, #prefooter, #footer .right a:hover
{
	background: #ffffff; 
}
#logo, #menu li, .unico, .columna1, .columna2 
{
	float: left;
}
#searchform p,#menu li,#menu li a,#menu li a.current  
{ 
	margin: 0; 
}
.unico, .columna1, .columna2 
{
	margin: 0 30px 10px 10px;
}
.unico, .columna1, .columna2, #prefooter, #footer
{
	font-size: .9em;
}
.columna1, .columna2 
{    
	width: 440px;  
}
#search, .right
{
	float: right;
}
#search a, #watch a 
{  
	font-size: .8em; 
}
#search a, #watch a, #menu li a 
{
	cursor: pointer; 
}
/* Fin de estilos por grupos */

/* Estilos individuales */
	/* Enlaces */
a
{	
	color: #B70E0B;	 
	text-decoration: none; 
}
a:hover 
{
	color: #9C0000; 
}
/* Parrafos y titulos */
p 
{ 
	margin: 0 0 15px 0; 
}
h1
{ 
	font: normal 30px "Trebuchet MS", Arial, Sans-Serif;  
}
h1 a:hover 
{ 
	color: #E4FFD3;  
}
h2
{ 
	color: #B70E0B; 
	font: bold 1.6em Arial, Sans-Serif; 
	margin: 0 0 12px; 
	border-bottom: 1px solid #cccccc; 
}
h3
{ 
	color: #9C0000; 
	background: #D0D4D4; 
	padding: 3px 10px; 
	margin: 0 0 15px; 
}
	/* Otros */
sup 
{ 
	font-size: .3em; 
	color: #DECEA7; 
}

#contenido 
{ 
	width: 960px; 
	margin: 5px auto; 
	padding: 7px; 
}
#header
{ 
	background: #ffffff url(../img/header.jpg) no-repeat; 
	height: 153px; 
}
#header p 
{ 
	margin: 30px 0 0; 
	color: #D6E5EA; 
}
#logo 
{ 
	padding: 40px 0 0 20px;   
	width: 400px;
}
#search 
{  
	width: 220px; 
	text-align: right; 
	margin: 15px 0px 0 0; 
}
#searchform 
{ 
	padding: 2px;
}
	/* Menu */
#menu 
{ 
	margin: 0 0 50px;
}
#menu li 
{ 
	list-style: none; 
}
#menu li a 
{ 
	padding: 5px 39px; 
	line-height: 25px;  
	background: #D0D4D4;
	color: #9C0000; 
	-moz-transition-property:background,color;
	-webkit-transition-property:background,color;
	-o-transition-property:background,color;
	-moz-transition-duration:.7s;
	-webkit-transition-duration:.7s;
	-o-transition-duration:.7s;
}
#menu li a:hover 
{ 
	background: #A87171; 
	color: #000; 
	-moz-transition-property:background,color;
	-webkit-transition-property:background,color;
	-o-transition-property:background,color;
	-moz-transition-duration:.7s;
	-webkit-transition-duration:.7s;
	-o-transition-duration:.7s;
}
#menu li a.current 
{ 
	background: #B30000;  
}	
	/* Otros */
.unico
{   
	width: 880px;  
}
.mas 
{ 
	border-top: 1px solid #eee; 
	padding: 5px 0 0 0; 
}
#prefooter 
{ 
	width: 944px; 
	margin: 0 auto; 
	padding: 15px 18px 1px;   
}
#footer 
{ 
	width: 960px; 
	margin: 15px auto; 
	color: #9C0000;  
}
#footer a 
{ 
	color: #444444; 
}
.right 
{ 
	text-align: right; 
	font-size: 1em; 
}
#footer .right a 
{ 
	margin: 0 0 0 2px; 
	padding: 3px 10px; 
}
#footer .right a:hover 
{ 
	color: #777777; 
	text-decoration: underline; 
}
